body {
    background-color: black;
    color: white;
    font-family: 'Roboto';
    font-size: 48px;
}

.shortentext {
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
}

.form {
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
}