body {
    background-color: black;
    color: white;
    font-family: 'Roboto';
    font-size: 48px;
}
.center {
   text-align:center;
   display:block;
}

.form {
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
}

.input {
    height: 45px;
    width: 300px;
    font-size: 24px;
}