{% extends "layout.html" %}

{% block title %}
shorten url
{% endblock %}


{% block body %}
{% if gen == None %}
<div class="shortentext">
    <p>shorten url</p>
</div>

<div class="form">
    <form action="/shorten" method="POST">
        <input type="text" name="url" placeholder="URL">
        <br>
        <input type="submit" value="Submit">
      </form>
</div>
{% elif gen != None %}
<div class="shortentext">
    <p>Your url is:</p>
    <a href="/{{ gen }}">{{ gen }}</p>
</div>
{% endif %}
{% endblock %}